@import './mixins.less';
@import './typography.less';
@import './global.less';

.app {
    margin: 0 auto;
    width: 100%;
    color: @color-dark;
    margin-top: @margin--base*3;
    padding: 0;
    @media (max-width: @bp-mobile) {
        margin-top: @margin--base*4;
    }
}

.mainHeader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: @color-background--darker;
    width: 100vw;
    z-index: @z-index--top;
    padding: @padding--base*0.3 @padding--base;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    box-shadow: @box-shadow--base;
    img {
        height: 3rem;
        padding-right: @padding--base;
        margin: auto 0;
    }
    @media (max-width: @bp-mobile) {
        img {
            flex-basis: 25%;
        }
        .pageHeading {
            flex-basis: 75%;
            font-size: 1em;
        }
    }
}

.pageHeading {
    font-size: 1.2em;
    margin-right: auto;
}
